<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LinCop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <LinCop.Properties.Settings>
            <setting name="app1name" serializeAs="String">
                <value>2024</value>
            </setting>
            <setting name="app1path" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe Illustrator 2024\Support Files\Contents\Windows\Illustrator.exe</value>
            </setting>
            <setting name="app2name" serializeAs="String">
                <value>2025</value>
            </setting>
            <setting name="app2path" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe Illustrator 2025\Support Files\Contents\Windows\Illustrator.exe</value>
            </setting>
            <setting name="app3name" serializeAs="String">
                <value>2026</value>
            </setting>
            <setting name="app3path" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe Illustrator 2026\Support Files\Contents\Windows\Illustrator.exe</value>
            </setting>
            <setting name="app4name" serializeAs="String">
                <value>PS</value>
            </setting>
            <setting name="app4path" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe Photoshop 2026\Photoshop.exe</value>
            </setting>
            <setting name="ver" serializeAs="String">
                <value>0</value>
            </setting>
        </LinCop.Properties.Settings>
    </userSettings>
</configuration>
